<div class="col-md-12">

  <section ng-if="!faction">

    <div class="page-header">
      <h1>Factions</h1>
    </div>

    <div class="row">
      <div class="col-md-4" ng-repeat="faction in factions">
        <div class="panel panel-default">
          <div class="panel-body">
            <h4><a href="#/factions/{{ faction._id }}" class="header">{{ faction.name }}</a></h4>
            <b>Commander:</b> {{ faction.commander.name }}
          </div>
          <div class="panel-footer">
            {{ faction.players.length }} Members
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Create faction</div>
      <div class="panel-body">
        <form ng-submit="addFaction()">
          <div class="form-group">
            <label>Name</label>
            <input class="form-control" type="text" ng-model="data.name" name="name" placeholder="Black Sun Syndicate" />
          </div>
          <div class="form-group">
            <label>Commander</label>
            <select class="form-control" ng-model="data.commander" class="ui selection dropdown">
              <option ng-repeat="player in players" value="{{ player._id }}">{{ player.name }}</option>
            </select>
          </div>
          <button type="submit" class="btn btn-success">Create</button>
        </form>
      </div>
    </div>

  </section>

  <form name="EditFaction" ng-if="faction" ng-submit="editFaction()">

    <div class="page-header">
      <h1>{{ faction.name }}</h1>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Faction Information</div>
      <div class="panel-body">
        <div class="form-group">
          <label>Name</label><br />
          <input class="form-control" type="text" ng-model="faction.name" name="name" />
        </div>
        <div class="form-group">
          <label>Commander</label><br />
          <select class="form-control" ng-model="faction.commander" class="ui selection dropdown">
            <option ng-repeat="player in faction.players" ng-selected="player._id === faction.commander._id" value="{{ player._id }}">{{ player.name }}</option>
          </select>
        </div>
      </div>
      <button ng-show="EditFaction.$dirty" ng-disabled="EditFaction.$submitted" type="submit" class="btn btn-success">Save</button>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Faction Members</div>
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th sort-by data-type="name">Name</th>
              <th sort-by data-type="games.won">Win</th>
              <th sort-by data-type="games.drawn">Draw</th>
              <th sort-by data-type="games.lost">Lose</th>
              <th sort-by data-type="score.average">MOV</th>
              <th sort-by data-type="score.cumulative">Score</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="player in faction.players | orderBy:sort.type:sort.reverse">
              <td>{{ player.name }}</td>
              <td>{{ player.games.won }}</td>
              <td>{{ player.games.drawn }}</td>
              <td>{{ player.games.lost }}</td>
              <td>{{ player.score.average }}</td>
              <td>{{ player.score.cumulative }}</td>
            </tr>
            <tr ng-if="!players.length">
              <td colspan="7">No players</td>
            </tr>
          </tbody>
        </table>
    </div>

    <h2 class="ui center aligned icon header">
      <button class="btn btn-danger" ng-click="removeFaction(faction._id)">Remove Faction</button>
    </h2>

  </form>

</div>
