<div class="ui grid">
<div class="four wide column"><navigation /></div>
<div class="twelve wide column">

  <section ng-if="!faction">

    <h2 class="ui center aligned icon header">
      <i class="circular cubes icon"></i>
      <div>Factions</div>
    </h2>

    <div class="ui three columns grid">
      <div class="column" ng-repeat="faction in factions">
        <div class="ui fluid card">
          <a href="/#/factions/{{ faction.slug }}" class="image">
            <img src="//placehold.it/200x200" />
          </a>
          <div class="content">
            <a href="/#/factions/{{ faction.slug }}" class="header">{{ faction.name }}</a>
            <div class="meta">
              <b>Commander:</b> {{ faction.commander.name }}
            </div>
            <div class="description">
              Description
            </div>
          </div>
          <div class="extra content">
            <i class="user icon"></i> {{ faction.players.length }} Members
          </div>
        </div>
      </div>
    </div>

    <h4 class="ui dividing header">Create new faction</h4>
    <form class="ui form" ng-submit="addFaction()">
      <div class="three fields">
        <div class="field">
          <label>Name</label>
          <input type="text" ng-model="data.name" name="name" placeholder="Black Sun Syndicate" />
        </div>
        <div class="field">
          <label>Slug</label>
          <input type="text" ng-model="data.slug" name="slug" placeholder="black-sun" />
        </div>
        <div class="field">
          <label>Commander</label>
          <select ng-model="data.commander" class="ui selection dropdown">
            <option ng-repeat="player in players" value="{{ player._id }}">{{ player.name }}</option>
          </select>
        </div>
      </div>
      <div class="field">
        <button type="submit" class="ui fluid positive button">Create</button>
      </div>
    </form>

  </section>

  <form class="ui form" ng-if="faction">

    <h2 class="ui center aligned icon header">
      <i class="circular cube icon"></i>
      <div>{{ faction.name }}</div>
    </h2>

    <h4 class="ui dividing header">Faction Information</h4>
    <div class="three fields">
      <div class="field">
        <label>Name</label>
        <input type="text" ng-model="faction.name" name="name" />
      </div>
      <div class="field">
        <label>Slug</label>
        <input type="text" ng-model="faction.slug" name="slug" />
      </div>
      <div class="field">
        <label>Commander</label>
        <select ng-model="data.commander" class="ui selection dropdown">
          <option ng-repeat="player in faction.players" ng-selected="player._id === faction.commander._id" value="{{ player._id }}">{{ player.name }}</option>
        </select>
      </div>
    </div>

    <h4 class="ui dividing header">Faction Members</h4>
    <table class="ui celled striped table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Win</th>
          <th>Draw</th>
          <th>Lose</th>
          <th>MOV (Av)</th>
          <th>MOV (Cu)</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="player in faction.players">
          <td>{{ player.name }}</td>
          <td>{{ player.matches.won }}</td>
          <td>{{ player.matches.drawn }}</td>
          <td>{{ player.matches.lost }}</td>
          <td>{{ player.score.average }}</td>
          <td>{{ player.score.cumulative }}</td>
        </tr>
        <tr ng-if="!players.length">
          <td colspan="7">No players</td>
        </tr>
      </tbody>
    </table>

    <h2 class="ui center aligned icon header">
      <button class="ui negative button" ng-click="removeFaction(faction._id)">Remove Faction</button>
    </h2>

  </form>

</div>
</div>
