<div class="col-md-12">

  <section ng-if="!match">

    <div class="page-header">
      <h1>Matches</h1>
    </div>

    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th sort-by data-type="home.player.name">Player 1</th>
          <th sort-by data-type="home.score">Score</th>
          <th sort-by data-type="away.player.name">Player 2</th>
          <th sort-by data-type="away.score">Score</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="match in matches | orderBy:sort.type:sort.reverse">
          <td>{{ match.home.player.name }}</td>
          <td>{{ match.home.score }} ({{ match.home.result }})</td>
          <td>{{ match.away.player.name }}</td>
          <td>{{ match.away.score }} ({{ match.away.result }})</td>
          <td><a href ng-click="removeMatchResult(match._id)">Remove</a></td>
        </tr>
      </tbody>
      <tbody ng-if="!matches.length">
        <tr>
          <td colspan="5">No matches</td>
        </tr>
      </tbody>
    </table>

    <div class="panel panel-default">
      <div class="panel-heading">Add match result</div>
      <div class="panel-body">
        <form ng-submit="addMatchResult()">
          <div class="form-group">
            <label>Player 1</label>
            <select class="form-control" ng-model="data.home.player" class="ui selection dropdown">
              <option ng-repeat="player in players" value="{{ player._id }}">{{ player.name }}</option>
            </select>
          </div>
          <div class="form-group">
            <label>Score</label>
            <input class="form-control" type="number" ng-model="data.home.score" />
          </div>
          <div class="form-group">
            <label>Player 2</label>
            <select class="form-control" ng-model="data.away.player" class="ui selection dropdown">
              <option ng-repeat="player in players" value="{{ player._id }}">{{ player.name }}</option>
            </select>
          </div>
          <div class="form-group">
            <label>Score</label>
            <input class="form-control" type="number" ng-model="data.away.score" />
          </div>
          <button type="submit" class="btn btn-success">Add</button>
        </form>
      </div>
    </div>

  </section>

  <form class="ui form" ng-if="match" ng-submit="editMatchResult(match._id)">

    <div class="page-header">
      <h2>{{ match.home.player.name }} vs {{ match.away.player.name }}</h2>
    </div>

    <div class="two fields">
      <div class="field">
        <label>Player 1</label>
        <select ng-model="match.home.player" class="ui selection dropdown">
          <option ng-repeat="player in players" value="{{ player._id }}">{{ player.name }}</option>
        </select>
      </div>
      <div class="field">
        <label>Score</label>
        <input type="number" ng-model="match.home.score" />
      </div>
    </div>
    <div class="two fields">
      <div class="field">
        <label>Player 2</label>
        <select ng-model="match.away.player" class="ui selection dropdown">
          <option ng-repeat="player in players" value="{{ player._id }}">{{ player.name }}</option>
        </select>
      </div>
      <div class="field">
        <label>Score</label>
        <input type="number" ng-model="match.away.score" />
      </div>
    </div>
    <div class="field">
      <button type="submit" class="ui positive button">Save</button>
    </div>

  </form>

</div>
