<div class="col-md-4">
  <nav class="ui fluid vertical menu">
    <a ng-href="#/factions" class="header item">
      Factions
      <span class="ui teal label">{{ factions.length }}</span>
    </a>
    <div class="item" ng-if="!factions.length">
      No factions.
    </div>
    <a ng-href="#/factions/{{ faction._id }}" ng-repeat="faction in factions" class="item">
      {{ faction.name }}
    </a>
  </nav>
  <nav class="ui fluid vertical menu">
    <a ng-href="#/players" class="header item">
      Players
      <span class="ui teal label">{{ players.length }}</span>
    </a>
    <div class="item" ng-if="!players.length">
      No players.
    </div>
    <a ng-href="#/players" class="item" ng-if="players.length">
      List of Players
    </a>
  </nav>
  <nav class="ui fluid vertical menu">
    <a ng-href="#/matches" class="header item">
      Matches
      <span class="ui teal label">{{ matches.length }}</span>
    </a>
    <div class="item" ng-if="!matches.length">
      No matches.
    </div>
    <a ng-href="#/matches" class="item" ng-if="matches.length">
      List of Matches
    </a>
  </nav>
</div>
