<div class="col-md-3">

  <div class="panel panel-primary panel-default">
    <div class="panel-heading">Campaign Tracker</div>
    <div class="list-group">
      <a class="list-group-item" ng-href="#/">
        Dashboard
      </a>
      <a class="list-group-item" ng-href="#/factions">
        Factions <span class="pull-right badge">{{ factions.length }}</span>
      </a>
      <a class="list-group-item" ng-href="#/players">
        Players <span class="pull-right badge">{{ players.length }}</span>
      </a>
      <a class="list-group-item" ng-href="#/matches">
        Matches <span class="pull-right badge">{{ matches.length }}</span>
      </a>
    </div>
    <div class="panel-footer">
      <a href="#/login">Login</a>
    </div>
  </div>

</div>
