<div class="ui grid">
<div class="four wide column"><navigation /></div>
<div class="twelve wide column">

  <section ng-if="!player">

    <h2 class="ui center aligned icon header">
      <i class="circular users icon"></i>
      <div>Players</div>
    </h2>

    <table class="ui celled striped table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Faction</th>
          <th>Win</th>
          <th>Draw</th>
          <th>Lose</th>
          <th>MOV (Av)</th>
          <th>MOV (Cu)</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="player in players">
          <td>{{ player.name }}</td>
          <td>{{ player.faction.name }}</td>
          <td>{{ player.matches.won }}</td>
          <td>{{ player.matches.drawn }}</td>
          <td>{{ player.matches.lost }}</td>
          <td>{{ player.score.average }}</td>
          <td>{{ player.score.cumulative }}</td>
          <td><a href ng-click="removePlayer(player._id)">Remove</a></td>
        </tr>
        <tr ng-if="!players.length">
          <td colspan="7">No players</td>
        </tr>
      </tbody>
    </table>

    <h4 class="ui dividing header">Create new player</h4>
    <form class="ui form" ng-submit="addPlayer()">
      <div class="three fields">
        <div class="field">
          <label>Name</label>
          <input type="text" ng-model="data.name" placeholder="Luke Skywalker" />
        </div>
        <div class="field">
          <label>Faction</label>
          <select ng-model="data.faction" class="ui selection dropdown">
            <option ng-repeat="faction in factions" value="{{ faction._id }}">{{ faction.name }}</option>
          </select>
        </div>
        <div class="field">
          <label>&nbsp;</label>
          <button type="submit" class="ui positive button">Create</button>
        </div>
      </div>
    </form>

  </section>

  <form class="ui form" ng-if="player">

    <h2 class="ui center aligned icon header">
      <i class="circular user icon"></i>
      <div>{{ player.name }}</div>
    </h2>

    <h4 class="ui dividing header">Player Information</h4>
    <input type="text" ng-model="player.name" />
    <input type="text" ng-model="player.faction" />
    <input type="text" ng-model="player.matches.won" />
    <input type="text" ng-model="player.matches.drawn" />
    <input type="text" ng-model="player.matches.lost" />
    <input type="text" ng-model="player.score.average" />
    <input type="text" ng-model="player.score.cumulative" />

  </form>

</div>
</div>
