<div class="col-md-12">

  <section ng-if="!player">

    <div class="page-header">
      <h1>Players</h1>
    </div>

    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th sort-by data-type="name">Name</th>
          <th sort-by data-type="faction.name">Faction</th>
          <th sort-by data-type="games.won">Win</th>
          <th sort-by data-type="games.drawn">Draw</th>
          <th sort-by data-type="games.lost">Lose</th>
          <th sort-by data-type="score.average">MOV</th>
          <th sort-by data-type="score.cumulative">Score</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="player in players | orderBy:sort.type:sort.reverse">
          <td>{{ player.name }}</td>
          <td>{{ player.faction.name }}</td>
          <td>{{ player.games.won }}</td>
          <td>{{ player.games.drawn }}</td>
          <td>{{ player.games.lost }}</td>
          <td>{{ player.score.average }}</td>
          <td>{{ player.score.cumulative }}</td>
          <td><a href ng-click="removePlayer(player._id)">Remove</a></td>
        </tr>
        <tr ng-if="!players.length">
          <td colspan="7">No players</td>
        </tr>
      </tbody>
    </table>

    <div class="panel panel-default">
      <div class="panel-heading">Create player</div>
      <div class="panel-body">
        <form ng-submit="addPlayer()">
          <div class="form-group">
            <label>Name</label>
            <input class="form-control" type="text" ng-model="data.name" placeholder="Luke Skywalker" />
          </div>
          <div class="form-group">
            <label>Faction</label>
            <select class="form-control" ng-model="data.faction" class="ui selection dropdown">
              <option ng-repeat="faction in factions" value="{{ faction._id }}">{{ faction.name }}</option>
            </select>
          </div>
          <button type="submit" class="btn btn-success">Create</button>
        </form>
      </div>
    </div>

  </section>

  <form class="ui form" ng-if="player" ng-submit="editPlayer(player._id)">

    <div class="page-header">
      <h1>{{ player.name }}</h1>
    </div>

    <h4 class="ui dividing header">Player Information</h4>
    <input type="text" ng-model="player.name" />
    <input type="text" ng-model="player.faction" />
    <input type="text" ng-model="player.matches.won" />
    <input type="text" ng-model="player.matches.drawn" />
    <input type="text" ng-model="player.matches.lost" />
    <input type="text" ng-model="player.score.average" />
    <input type="text" ng-model="player.score.cumulative" />

  </form>

</div>
